/******************************************************************************
TIP: Get started creating your own theme here

- Set values for the main site variables for properties like fonts and colors
- You can also add any style rules you like

- Make sure you have `custom-theme` in settings.json theme property
- (Update it if you changed the CSS file name)
******************************************************************************/

@import url("https://fonts.googleapis.com/css2?family=Rock+Salt");


:root {
  --font-family: Arial, sans-serif;
  --font-family-header: Arial, sans-serif;
  --font-family-list: Arial, sans-serif;
  --color-bg: black;
  --color-bg-alt: aqua;
  --color-text-main: white;
  --color-primary: white;
}

h1{
  font-family: 'Rock Salt',Sans-serif;
}
body {
  background: var(--color-bg);
}

ul.link-list li a:link,
ul.link-list li a:visited {
  text-align: center;
  border: 0px solid var(--color-primary);
  padding: 1.5rem;
  position: relative;
}
/* Add your style rules! */
