/******************************************************************************
TIP: Get started creating your own theme here

- Set values for the main site variables for properties like fonts and colors
- You can also add any style rules you like

- Make sure you have `custom-theme` in settings.json theme property
- (Update it if you changed the CSS file name)
******************************************************************************/

@import url("https://fonts.googleapis.com/css2?family=Rock+Salt");
@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans");


:root {
  --font-family: Arial, sans-serif;
  --font-family-header: Arial, sans-serif;
  --font-family-list: Arial, sans-serif;
  --color-bg: black;
  --color-bg-alt: aqua;
  --color-text-main: white;
  --color-primary: white;
}

h1{
  font-family: 'Rock Salt',Sans-serif;
}
body {
  background: var(--color-bg);
}
avatar{
   max-width: var(--avatar-max-width);
  max-height: var(--avatar-max-width);
  margin: 1rem 0 1.5rem;
  border-radius: 10%;
}




ul.link-list li a {
  font-family:'Open Sans',Sans-serif;
  font-weight:bolder !important;
  min-height: 5.5em;
  min-width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
ul.link-list li a img {
  display:none;
}

ul.link-list li a:link,
ul.link-list li a:visited {
  text-align: center;
  border: 0px solid var(--color-primary);
  padding: 1.5rem;
  position: relative;
}
ul.link-list li a:hover, ul.link-list li a:focus {
  border: 4px solid var(--theme-color-title);
  background:rgba(255,255,255,.1);
}
.social-profile-icon path {
  fill: white;
}
/* Add your style rules! */
